body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: none;
}

.clickedAndNotShip {
  background-color: #87CEEB;
}

.clickedAndShip {
  background-color: #FFE993;
}

.resetButton, .startButton {
  width: 110px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* testing */